{% extends "layout.html.twig" %}


{% block title %}contact{% endblock %}

{% block content %}

 

      
   <div id="error" class="container text-center" style="margin-top:120px">
        <h1>404, Page not found</h1>
        <p>La page n'existe pas</p>
        <a class="btn btn-primary" href="{{ path('home') }}">Revenir à la page d'accueil</a>
    </div><!--/#error-->



{% endblock %}