
{% extends "layout.html.twig" %}


{% block title %}CONDITIONS GENERALES D’UTILISATIONS ET DE LOCATIONS DES VËTEMENTS{% endblock %}

{% block content %}


<div class="container">
    


Les termes et conditions ci-dessous forment un accord légal entre vous et LE CLOSET.

LIRE ATTENTIVEMENT LES CONDITIONS. EN SOUSCRIVANT A NOS PRODUITS VOUS ACCEPTEZ LES CONDITIONS GENERALES D’UTILISATIONS. SI VOUS N’ETES PAS D’ACCORD AVEC L’ENSEMBLE DES CONDITIONS DE CET ACCORD, MERCI DE NE PAS SOUSCRIRE AUX PRODUITS PROPOSES.

NOUS NOUS RESERVONS LE DROIT DE MODIFIER LES TERMES DE CET ACCORD ET TOUT CHANGEMENT FERA EFFET APRES LA DATE DE MODIFICATION.
1. General

Cette section concerne les termes et conditions concernant la location d’articles de LE CLOSET via lecloset.fr. Nos produits peuvent être loués par des mineurs mais la souscription doit se faire avec l’accord d’un adulte. Si vous avez moins de 18 ans, vous pouvez accepter les conditions et commander des produits uniquement avec l’accord de vos parents ou tuteur légal. Chaque box est constituée de 5 articles et peut rester en votre possession aussi longtemps que vous le souhaitez tant que vous continuer à payer votre abonnement mensuel.
2. Frais mensuels, carte de crédits

Les frais de locations pour les produits seront composés uniquement de votre abonnement mensuel (comme spécifié sur le site internet) plus d’une éventuelle assurance si vous souhaitez y souscrire.

En souscrivant à l’abonnement, vous nous autorisez à prélever les charges qui correspondent au montant de l’abonnement spécifié sur le site sur une base mensuelle. Votre carte bancaire sera débitée avec une fréquence de 30 jours à partir de votre souscription jusqu’à l’annulation de votre abonnement Par demande explicite via mail.

Vous devez annuler votre abonnement au moins 3 jours ouvrés avant le prochain prélèvement bancaire pour éviter d’être débitée du mois suivant. Toute annulation après échéance ou moins de 3 jours ouvrés avant le renouvellement entrainera la facturation du mois suivant. L’annulation se fait par mail à l’adresse contact@lecloset.fr et après avoir retourné la dernière box vetement en votre possession.
3. Le service
a. Livraison

Les livraisons se feront par nos prestataires à nos horaires. Nous ne garantissons pas l’absence de retard ou la perte de box dues au prestataire. Les produits envoyés peuvent être différents de ce que vous avez rajouté à votre placard si l’ensemble des produits commandés ne sont plus disponibles dans les stocks en cours.
b. Garanties

Si l’un des produits n’est pas à la bonne taille, vous pouvez nous renvoyer les produits conformément aux procédures de retour (cf. section correspondante). Un nouveau CLOSET / colis vous sera immédiatement renvoyé. Aucun remboursement ne pourra être fait.
c. Pressing

Chaque article, dans le cas où il serait réutilisé et renvoyé après utilisation, sera traité par un service de pressing professionnel. Nous inspecterons minutieusement chaque article avec le plus grand soin mais ne pouvons pas être tenu responsable de soucis mineurs ayant échappé à notre attention.
d. Retour

Nous vous fournissons un bon de livraison prépayé pour le retour gratuit. Les instructions seront attachées à chaque colis.
4. Vos engagements
a. Réception des produits

Après livraison, vous êtes responsable des articles. Dans le cas où une adresse non valide est délivrée, LE CLOSET ne porte pas la responsabilité des produits perdus. Par ailleurs, fournir une adresse invalide peut avoir pour conséquence des retards et des frais de livraison supplémentaires.
b. Utilisation des produits

Vous acceptez de traiter les produits avec soin et de les retourner dans les mêmes conditions que lorsque vous les avez reçus. Vous êtes entièrement responsable des pertes, de la destruction, des dommages des articles quel qu’en soient les causes (sauf l’usure pour utilisation normale).

Si le produit nous est retourné dans un état inutilisable, vous nous donnez l’autorisation de débiter le prix pour remplacer / réparer l’article en question.
c. Paiement

En cas de non paiement des sommes dues, vous acceptez de payer nos coûts de procédures pour récupérer la somme due (incluant les frais d’avocats). Nous nous réservons le droit de mettre un terme à votre abonnement quand nous le souhaitons si vous dérogez à une règle de cette agrément ou pour tout autre raison.
d. Email

Nous utiliserons les données collectées sur notre site pour vous envoyer des emails commerciaux. Pour ne plus en recevoir, vous pouvez cliquer sur le lien dans le mail quand il est disponible.
e. Limitation de garantie

Les garanties de la section 3 ne s’appliquent qu’à vous, ne peuvent être acceptées que par vous, et ne peuvent être imputées, appliquées à un tierce partie.
5. Responsabilités

En aucun cas LE CLOSET ne pourra être tenu responsable d’un quelconque dommage ou perte d’articles.

Dommages limités : LE CLOSET ACCEPTE LA REPONSABILITE SI LE DOMMAGE N’EXCEDE PAS LE COUT DU QUART DE L’ABONNEMMENT MENSUEL QUE VOUS PAYEZ.

VOUS ASSUMEZ SEULE ET EXCLUSIVEMENT LA RESPONSABILTE DE TOUTES POURSUITES A VOTRE EGARD ET DES DOMMAGES CAUSES PENDANT VOTRE PERIODE D’UTILISATION DES PRODUITS.
6. Divers

Ces termes constituent l’ensemble des conditions entre vous et LE CLOSET. Seul LE CLOSET peut modifier ces termes. Nous nous réservons le droit de les modifier ou mettre fin à ces conditions. Ces termes sont tous valables sous réserve de répondre à la législation française. Si une mention de ces termes est en désaccord avec la législation française, cette mention ne s’applique pas mais le reste des conditions restent entièrement valables.

CONDITIONS GENERALES DE LOCATION VÊTEMENTS


1. General: Location de vêtements et accessoires et non achat.

Les conditions de cet accord contiennent tous les termes et conditions concernant votre location de produits LE CLOSET. Vous acceptez et reconnaissez que vous louer des vêtements et accessoires dont le propriétaire est LE CLOSET. Nos vêtements et accessoires peuvent être loués pour l’usage des mineurs, mais la location doit se faire avec l’accord d’un adulte.

Vous ne pouvez louer à la fois qu’un (1) seul closet. Dans chaque closet il y a une sélection maximale de cinq articles (location de trois (3) vêtements et deux (2) accessoires).
2. La location des vêtements et des accessoires :

La location des cinq (5) articles vous donne le droit de faire un usage normal des vêtements et accessoires loués.

Vous reconnaissez par ailleurs que les Articles sont la propriété exclusive de LE CLOSET.
3. Frais de location :

Les frais de location sont des frais mensuels s’élevant à quarante-neuf (49) euros.

Le tarif de location comprend :

- la location des cinq (5) articles

- les frais de port (aller et retour)

- les frais de nettoyage

LE CLOSET vous réserve la possibilité d’acquérir les articles au prix fixé par LE CLOSET.
4. Durée de la location :

Vous louez cinq (5) articles (trois (3) vêtements et deux (2) accessoires) aussi longtemps que vous le souhaitez tant que vous continuez à payer votre abonnement mensuel.

Vous disposez d’une enveloppe retour déjà affranchie vous permettant de nous renvoyer les vêtements, bijoux et accessoires loués.
5. Les Articles loués

Les Articles présentés sur le Site Internet www.lecloset.fr sont susceptibles de ne pas être disponibles à la location au moment de l’envoi du closet.

LE CLOSET fera tout ce qu’il est en son pouvoir pour mettre à votre disposition les Articles que vous avez sélectionnés mais ne peut s’engager à tenir tous les Articles disponibles, si ces derniers sont déjà loués ou sont au pressing.

Vous trouverez ci-après la liste (non exhaustive) des Articles proposés à la location sur le Site www.lecloset.fr à l'intérieur de vos box de vêtements :

- location de robes

- location de jupes et pantalons

- location de hauts

- location de manteaux, pulls et gilets

- location de bijoux

- location d’accessoires mode
6. Dommages :

Dans le cas de dommages (brûlure, accroc, tâche), vous vous engagez à ne pas effectuer de réparations par vous-même ou par un tiers.

Seul LE CLOSET est habilité à traiter les dégâts effectués.

Tout dommage doit être signalé par le client.

Dans le cas de dommages irréparables, d’une pert%pe ou d’un vol, LE CLOSET encaissera après notification du dommage au client le prix d’achat membre fixé par LE CLOSET et inscrit sur la fiche de synthèse.
    </div>
{% endblock %}