
{% extends "layout.html.twig" %}


{% block title %}FAQ{% endblock %}

{% block content %}

 
<div>
<h4>FAQ de LE chic (comment marche l'abonnement à votre box de vêtements illimité !)

En quoi consiste l'abonnement à la box de vêtements illimité ?</h4>

<ul>
    <li>
        <h2>1. Comment fonctionne le service ?</h2><br />
        C’est très simple : vous ajoutez les pièces sur lesquelles vous avez craqué à votre « placard » puis vous procédez à l'abonnement. Nous procéderons à l’envoi de
        votre box de vêtements (ou « chic ») dans les 2 heures qui suivent. Vous pourrez conserver les pièces de votre chic aussi longtemps que vous le désirerez : 2 jours, 2 semaines, 2 mois… c’est vous qui choisissez !
        Lorsque vous êtes prête pour votre prochain chic, renvoyez nous tout simplement les articles dans votre box prépayée. Vous n’avez rien à faire de plus ! Il n’y a pas de frais postaux, vous ne payez que votre abonnement mensuel.
    </li>
    <li>
        <h2>2. Puis-je recevoir plus d’une box de vêtements par mois grâce à mon abonnement ?</h2><br />
        Absolument, vous pouvez renvoyer
        votre box (ou chic) dès que vous le souhaitez. Une fois le colis réceptionné, nous vous enverrons votre prochain chic le jour même.
    </li>
    <li>
        <h2>3. Y-a-t-il un contrat, ou un engagement quelconque ?</h2>
        Soyez sans crainte, il n’y a aucun engagement ! Vous pouvez arrêter d’utiliser notre service de location à tout moment. Vous devrez néanmoins nous renvoyer votre chic en cours avant d’annuler votre abonnement à la box.
    </li>
    <li>
        <h2>4. Quelles sont les modalités de facturation ?</h2>
        Vous serez facturé automatiquement tous les 30 jours tant que vous resterez membre. La facturation est suspendue dès réception d’un mail nous signifiant que vous souhaitez arrêter votre abonnement. Nous attendrons que vous nous ayez préalablement renvoyé votre closet (ou box) en cours.
    </li>

    <li>
        <h2>5. Comment puis-je être certaine que les articles reçus seront à ma taille ?</h2>
        Nous nous engageons à tout faire pour que chaque article que vous recevez corresponde parfaitement à votre taille, votre morphologie ainsi qu'à vos goûts. Dans l’éventualité où un article ne répondrait pas à 100% à vos attentes, merci de nous le faire savoir afin que nous en prenions note et fassions le nécessaire pour que votre prochaine box de vêtements soit absolument parfaite.
    </li>
    <li>
        <h2>6. Et si je n’aime pas ma sélection ?</h2>
        Nos stylistes s’efforcent de travailler intelligemment sur les articles que vous recevrez afin qu’ils correspondent parfaitement à vos attentes. En ajoutant des articles à votre placard, vous renseignez nos stylistes sur vos goûts et préférences, nous permettant de sélectionner les articles qui seront le mieux à même de vous satisfaire. Si votre box ne devait malheureusement pas vous convenir à 100%, faites le nous savoir et nous vous garantissons que nous nous dépasserons pour le suivant.
    </li>
    <li>
        <h2>7. Combien de temps puis-je garder ma sélection ?</h2>
        Aussi longtemps que vous le souhaitez ! Vous ne payez que l’abonnement mensuel, il n’y a aucuns frais supplémentaires.
    </li>
    <li>
        <h2>8. Et que se passe-t-il si je souhaite conserver des articles ?</h2>
        Si un article vous plaît tout particulièrement, vous pouvez le garder et renvoyer le reste de la box de vêtements. Vous serez alors facturé automatiquement du prix de l’article après confirmation. Et bonne nouvelle ! Vous bénéficierez de tarifs très préférentiels sur les articles en tant que membre LE chic. A noter que vous pourrez trouver le prix des articles de votre chic à l’intérieur de la box, de même que plusieurs petites surprises !
    </li>
    <li>
        <h2>9. Que se passe-t-il si je souhaite garder les articles plus d’un mois à la location ?</h2>
        Le service marche par abonnement mensuel. Tant que vous conservez les articles et que vous n’annulez pas votre abonnement, vous êtes membre LE chic et continuez donc à payer l'abonnement mensuel.
    </li>
    <li>
        <h2>10. Qui se charge du nettoyage des articles ?</h2>
        Nous souhaitons vous épargner tant que possible des corvées de nettoyage. Par conséquent, nous avons fait le choix de nous occuper de tout ! Les articles sont traités et désinfectés dans nos pressings partenaires. Les articles ne sont envoyés à nos clientes qu’au maximum trois fois afin de garantir un niveau de qualité et de propreté optimales. Ensuite, ils sont sortis du stock et vendus à l’occasion de nos ventes privées exclusives. De cette manière, vous recevrez uniquement des vêtements neufs ou proches du neuf dans vos box de vêtements.
    </li>
    <li>
        <h2>11. Comment puis-je annuler mon abonnement ?</h2>
        L'abonnement à la box (ou Closet) est absolument sans engagement. L'unique condition est de bien nous avoir renvoyé le dernier Closet pour rendre la résiliation effective. Veillez bien à ce que l'on reçoive le dernier Closet 3 jours avant la prochaine date de facturation pour ne pas relancer une nouvelle échéance. Dans le cas contraire, notre système vous facturera automatiquement pour le mois suivant.
        Pour demander une résiliation, il suffit simplement d'envoyer un mail à l'adresse contact@lecloset.fr, le service client vous reviendra dans les 12 heures ouvrées.
    </li>
    <li>
        <h2>12. Que se passe-t-il si je dégrade accidentellement un vêtement ou un accessoire ?</h2>
        Nous sommes persuadés que vous ferez tout votre possible pour prendre soin des articles de votre chic. Dans l’éventualité où certaines pièces pourraient nous être retournées et présentent de petits dommages tels que des tâches, des boutons manquants et d’autres dégâts réparables, nous nous chargerons de leur remise en état. Toutefois, en cas de gros dommages rendant un article totalement inutilisable, nous ne pourrons couvrir les pertes et serons contraints de vous le facturer au prix membre et de vous renvoyer l'article dans votre prochaine box de vêtements.
    </li>
</ul>
<h4>Livraisons & Retours</h4>
<ul>
        <li>
            <h2>1. La livraison et le retour sont-ils à mes frais ?</h2>
            Non ! Vous n’avez rien d’autre à payer que votre abonnement. Il n’y a aucuns frais de livraison ou de retour à votre charge. L'abonnement à vos box est absolument SANS ENGAGEMENT.
        </li>
        <li>
            <h2>2. Où puis-je recevoir ma box abonnement de vêtements ?</h2>
            Nous vous livrons partout en France métropolitaine, que ce soit à votre domicile, bureau, etc.
        </li>
        <li>
            <h2>3. Puis-je choisir un jour de livraison en particulier ?</h2>
            Ce service est disponible uniquement pour nos clientes qui habitent dans Paris intra-muros. Une fois votre abonnement à la box effectué, vous recevrez un mail automatique de validation. Répondez tout simplement à ce mail en indiquant la date et l’heure de livraison souhaitées !
        </li>
        <li>
            <h2>4. Quand les box de mon abonnement sont-elles envoyées ?</h2>
            Nous envoyons vos box tout au long de la semaine, excepté le samedi et le dimanche. Si vous vivez dans Paris intra-muros, la livraison peut se faire sur rendez-vous de 3 heures (24h après votre commande). Pour nos autres clientes, votre box arrivera sous 48h au plus tard via un envoi Colissimo Pro.
        </li>
        <li>
            <h2>5. Comment puis-je renvoyer ma box de vêtements ?</h2>
            Glissez tout simplement les articles que vous ne souhaitez pas garder dans l'enveloppe prépayée que vous aurez reçue dans votre closet. Fermez la et déposez la dans le bureau de poste le plus proche, et c'est tout !
            Si vous habitez dans Paris intra-muros, nous pouvons envoyer un coursier récupérer le colis sur rendez-vous. Pour cela écrivez-nous à l’adresse contact@lecloset.fr en précisant l’heure et la date de passage du coursier (prévoir une plage horaire de 3 heures) et nous nous occupons du reste.
        </li>
        <li>
            <h2>6. Besoin de plus d’informations ?</h2>
            Ecrivez-nous à l’adresse contact@lecloset.fr, nous nous ferons un plaisir de vous renseigner dans les plus brefs délais !
        </li>
</ul>






</div>

{% endblock %}