{% extends "layout.html.twig" %}


{% block title %}MENTIONS LEGALES{% endblock %}

{% block content %}

<div class="container">

<p>
EDITEUR DU SITE
chicncheap.fr est édité par la SAS chic SAS au capital de 0 €.
Numéro de RCS : 799 684 246
Siège social : 31 rue des Mégrands, 92 500 Rueil Malmaison
Directeur de publication : Ilakkiya Aroumougam
Contact : contact@lesmartins.fr - 314 avenue andre shakarov, lyon
</p>
<p>
L'hébergement du site est assuré par la société HEROKU Inc. dont le siège est situé :

650 7th Street
San Francisco, CA
USA
DONNEES PERSONNELLES
    </p>
<p>
Toutes les informations de votre compte ne sont utilisées que dans le cadre de votre relation commerciale avec lecloset.fr. Elles proviennent de l’enregistrement volontaire de votre adresse e-mail et des réponses au questionnaire d'inscription lors de la création de votre compte. Ces informations ne sont jamais revendues.

chic.fr vous informe qu'il pourra communiquer vos données pour assurer la livraison des commandes par ses prestataires, certains aspects du service après-vente, et pour réaliser des enquêtes de satisfaction.

Par ailleurs vos informations bancaires ne sont jamais en possession de chic. Les transactions sont entièrement traitées par les services de paiement de la société chic

En outre, en vertu de la loi Informatique et Libertés du 6 janvier 1978, vous disposez d’un droit d’accès, d’un droit d’opposition, d’un droit de rectification et/ou de suppression pour les renseignements vous concernant. Vous pouvez exercer ceux-ci en adressant votre demande (en indiquant vos adresse de courrier électronique, nom, prénom, adresse postale), par courrier électronique à l’adresse contact@lchic.fr ou par courrier postal à l’adresse suivante : SAS chic, 31 Rue des Mégrands, 92500 – Rueil Malmaison
CONFIDENTIALITE

Toutes les informations fournies lors de vos visites sur chic.fr sont strictement confidentielles. chic s’engage à respecter la confidentialité de vos données personnelles et à les traiter dans le respect de la loi Informatique et Libertés du 6 janvier 1978.

Ces données seront utilisées par nos services internes pour le traitement de votre commande ainsi que pour renforcer et personnaliser les sélections proposées et la communication notamment par les lettres/courriers électroniques d’information ainsi que dans le cadre de la personnalisation du Site Internet en fonction de vos préférences constatées.
</p>
    </div>
{% endblock %}